body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  margin: 10px;
}

.container{
  min-width: 500px;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: ;
  
}

.array{
  grid-column-start: 1;
  grid-column-end: 4;
}

